body {
    margin: 0;
    padding-top: 50px; 
    text-align: center;
    font-family: Arial, sans-serif;
}
.logo{
    padding: 10px;
    text-align: left;
    position: absolute;
    top: -5px;
    left: 10px;
    width: 15%;
    z-index: 1000;
}

.navbar {
    background-color: white;
    padding-top: 10px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 300px;
    width: 100%;
    z-index: 1000;
    margin-top: 20px;
}

.navbar a {
    color: rgb(85, 142, 213);
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration:underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px; 
}
.navbar button{
    color: white;
    background-color: rgb(85, 142, 213);
    border: none;
    padding: 10px 20px;
    margin-left: 50px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: -5px;
    border-radius: 3px;
}
.navbar button:hover {
    background-color: rgb(26, 103, 197);
}

.banner-image{
    width: 1700px;
    height: 500px;
    padding-top: 18px;
}
h1{
    font-size: 40px;
    text-align: left;
    margin-top: -450px;
    margin-left: 30px;
}
span{
    color: rgb(85, 142, 213);
}
p{
    text-align: left;
    margin-top: -5px;
    margin-left: 30px; 
    font-size: 18px;
}
.app-button{
    color: white;
    background-color: rgb(85, 142, 213);
    border: none;
    padding: 10px 20px;
    margin-left: -1150px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 3px;
}
.app-button1{
    color: white;
    background-color: rgb(77, 77, 77);
    border: none;
    padding: 10px 20px;
    margin-left: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: -5px;
    border-radius: 3px;
}
.card{
    width: 340px;
    height: 250px;
    padding: 5px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    position: absolute;
    background-color: white;
    font-weight: 100;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
   
}
.lorem{
    background-color: rgb(85, 142, 213);
    top: 450px;
    left: 20px; 
    color: white; 
    padding-top: 40px;
    
}
h2{
    font-size: 20px;
    padding-left: 25px;
    padding-bottom: 10px;
}
.timetable{
    background-color: rgb(85, 142, 213);
    top: 450px;
    left: 400px; 
    color: white; 
    padding-top: 40px;

}
.hours{
    background-color: rgb(85, 142, 213);
    top: 450px;
    left: 780px; 
    color: white; 
    padding-top: 40px;
}
